{% extends "base.html" %}
{% load i18n %}

{% block title %}Sign In - DjangoCon US{% endblock title %}

{% block content %}
    <div class="p-8 mx-auto max-w-md rounded-lg shadow-lg bg-green-800/50">
        {% if process == "connect" %}
            <h1 class="mb-4 text-2xl font-bold">
                {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
            </h1>
            <p class="mb-6 text-green-200">
                {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
            </p>
        {% else %}
            <h1 class="mb-4 text-2xl font-bold">
                {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
            </h1>
            <p class="mb-6 text-green-200">
                {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
            </p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="py-3 px-6 w-full font-bold text-white bg-green-600 rounded-lg transition duration-200 hover:bg-green-500">
                {% trans "Continue" %}
            </button>
        </form>
    </div>
{% endblock content %}
