apiron
dj-database-url
django-allauth
django-click
django-q2
Django<5.2
gunicorn
psycopg[binary]
rich
whitenoise
# Development related requirements
bumpver
django-test-plus
pre-commit
pytest
pytest-django
