<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}DjangoCon US Automation{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com?plugins=typography,aspect-ratio"></script>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        {% block extra_head %}{% endblock extra_head %}
        <link rel="icon" href="https://fav.farm/🦄" />
    </head>
    <body class="{% block body_class %}flex flex-col p-4 min-h-screen text-white bg-green-900 bg-gradient-to-b from-green-900 to-black via-green-950{% endblock body_class %}">
        <main class="{% block main_class %}flex-1 m-auto text-white{% endblock main_class %}">
            {% block content %}
            {% endblock content %}
        </main>
        <footer class="py-6 text-sm text-center text-gray-400">
            <a href="/" class="hover:text-gray-200">Home</a>
            <span class="mx-1">&middot;</span>
            <a href="https://github.com/djangocon/djangoconus-automation/issues"
               target="_blank"
               class="hover:text-gray-200">Report an Issue</a>
            <span class="mx-1">&middot;</span>
            <span>v{{ app_version }}</span>
        </footer>
    </body>
</html>
