<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com?plugins=typography,aspect-ratio"></script>
        <link rel="icon" href="https://fav.farm/🦄" />
    </head>
    <body class="flex p-4 min-h-screen text-white bg-green-900 bg-gradient-to-b from-green-900 to-black via-green-950">
        <main class="m-auto text-white">
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
        </footer>
    </body>
</html>
