{% extends "base.html" %}

{% load django_simple_nav %}

{% block title %}DjangoCon US - Homepage{% endblock title %}

{% block content %}
    <div class="flex flex-col gap-6 p-12 max-w-lg text-center text-green-200 bg-green-900 rounded-xl shadow-inner">
        <div class="text-6xl font-bold sm:tracking-tight">
            <div class="text-yellow-200">DjangoCon US</div>
            <div class="text-green-300">Automations</div>
        </div>

        {% django_simple_nav "config.nav.MainNav" %}

        <div class="text-xl">version {{ app_version }}</div>
    </div>
{% endblock content %}
