name: Deploy latest main

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build and Publish Production Docker Image
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install bumpver
        run: |
          python -m pip install --upgrade pip
          python -m pip install bumpver

      - name: Configure git to push
        run: |
          git config --global user.email "actions@users.noreply.github.com"
          git config --global user.name "Automated Publisher"

      - name: Bump Version
        id: vars
        run: |
          bumpver update
          eval $(bumpver show --env)
          echo "{current_version}=$CURRENT_VERSION" >> $GITHUB_OUTPUT

      - name: Push Release Build to GitHub
        run: |
          git push

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
